{% extends 'base.html' %}
    {% block title %}Spam Classification System{% endblock %}
    {% block content %}
<div class="glass-pane">
    <div class="text-area">
        <h1>Welcome to the Spam Classification System</h1>
        <p>
            This system provides various functionalities such as mail filtering, screening, marking, archiving, and user management.
            You can navigate through the different features using the header menu above.
        </p>
    </div>
</div>
{% endblock %}